/*
*
* Green color 1: #7dbf0c
* Green color 2: #66990e;
*/

/*@font-face {
	font-family: 'AvalonDemi';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Avalon-Demi-webfont.eot");
	src: url("../fonts/Avalon-Demi-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Avalon-Demi-webfont.woff") format("woff"),url("../fonts/Avalon-Demi-webfont.ttf") format("truetype"),url("../fonts/Avalon-Demi-webfont.svg#avalonbold") format("svg");
}

@font-face {
	font-family: 'AvalonBook';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Avalon-Book-webfont.eot");
	src: url("../fonts/Avalon-Book-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/Avalon-Book-webfont.woff") format("woff"),url("../fonts/Avalon-Book-webfont.ttf") format("truetype"),url("../fonts/Avalon-Book-webfont.svg#avalonregular") format("svg");
}*/

body {
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

#first-content {
  background: #7dbf0c;
  background: -moz-linear-gradient(top,  #7dbf0c 0%, #66990e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dbf0c), color-stop(100%,#66990e));
  background: -webkit-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: -o-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: -ms-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: linear-gradient(to bottom,  #7dbf0c 0%,#66990e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dbf0c', endColorstr='#66990e',GradientType=0 );
}

.slogan {
  /*font-family: "AvalonDemi";*/
  border-left: 10px solid #3f5d0b;
  padding-left: 20px;
  font-size: 102px;
}

.slogan span {
  display: block;
  line-height: 80px;
}

.slogan span.motto {
  color: #3f5d0b;
}

.slogan p.location {
  font-size: 24px;
  padding-top: 6px;
}

.jumbotron {
  padding-top: 90px;
}

.jumbotron h1.logo {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  margin: 0;
  padding: 0;
  background: url("../images/rocket.png") no-repeat center top;
  background-size: contain;
}

.jumbotron h1.logo, .slogan {
  height: 355px;
}

.event-photo{
  display: block;
  margin: 0 auto;
  width: 100%;
}

#about-event {
  background: transparent url(../images/mountain.png) no-repeat center bottom;
  background-size: contain;
}

#about-event .content{
  padding-top: 100px;
}

#newsletter .container{
  background: #fff;
  color: #666;
  padding: 20px;
}

#newsletter form {
  margin: 0;
}

#newsletter #input-newsletter-email,
#newsletter .btn-success {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#newsletter #input-newsletter-email{
  background: #e8e8e7;
  height: 44px;
  width: 100%;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#other-events.jumbotron {
  padding-bottom: 90px;
}

#other-events .event-photo{
  height: 160px;
  margin: 0 0 8px 0;
}

#second-content {
  color: #b0b0b0;
}

.footer-copyright {
  text-align: center;
  margin-bottom: 40px;
}


@media (min-width: 1200px) {
  .slogan {
    font-size: 118px;
    padding-left: 25px;
  }

  .slogan span {
    line-height: 92px;
  }

  .slogan p.location {
    font-size: 38px;
    padding-top: 18px;
  }

  .jumbotron h1.logo {
    background-image: url("../images/rocket.png");
  }

  .jumbotron h1.logo, .slogan {
    height: 420px;
  }

}

@media (max-width: 979px) {
  .jumbotron {
    margin-top: 60px;
  }

  .jumbotron .span4, .jumbotron .span8 {
    width: 100%;
    float: none;
  }

  .slogan {
    font-size: 34px;
    border: none;
    padding: 0;
    text-align: center;
    height: auto;
  }

  .slogan span {
    display: inline;
    line-height: 34px;
  }

  .slogan span.motto {
    display: block;
  }

  .slogan p.location {
    margin-top: 30px;
    font-size: 24px;
  }

  .jumbotron h1.logo {
    height: 440px;
    background-image: url("../images/rocket.png");
  }

  #newsletter {
    margin-top: 35px;
  }

}

@media (max-width: 767px) {
  .jumbotron {
    margin-top: 30px;
  }

  .slogan {
    font-size: 28px;
  }

  .slogan span {
    line-height: 28px;
  }

  .slogan p.location {
    margin-top: 25px;
    font-size: 22px;
  }

  .jumbotron h1.logo {
    height: 350px;
    background-image: url("../images/rocket.png");
  }

  #newsletter {
    margin-top: 25px;
  }

}

@media (max-width: 480px) {
  body {
    min-height: 480px;
  }

  .jumbotron {
    margin-top: 25px;
  }

  .slogan {
    font-size: 19.8px;
  }

  .slogan span {
    line-height: 20px;
  }

  .slogan p.location {
    font-size: 17px;
  }

  .jumbotron h1.logo {
    height: 241px;
    background-image: url("../images/rocket.png");
  }

  #newsletter {
    margin-bottom: 25px;
  }

}
