/*
*
* Green color 1: #7dbf0c
* Green color 2: #66990e;
*/

@font-face {
	font-family: 'FuturaBold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/futura_bold_bt-webfont.eot");
	src: url("../fonts/futura_bold_bt-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/futura_bold_bt-webfont.woff") format("woff"),url("../fonts/futura_bold_bt-webfont.ttf") format("truetype"),url("../fonts/futura_bold_bt-webfont.svg#avalonbold") format("svg");
}

body {
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

dt {
  margin-bottom: 4px;
}
dd {
  margin-bottom: 12px;
}

.lead {
  font-size: 18px;
}

.is-shadow {
  text-shadow: 0 1px 1px #222;
}

#first-content {
  background: #7dbf0c;
  background: -moz-linear-gradient(top,  #7dbf0c 0%, #66990e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7dbf0c), color-stop(100%,#66990e));
  background: -webkit-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: -o-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: -ms-linear-gradient(top,  #7dbf0c 0%,#66990e 100%);
  background: linear-gradient(to bottom,  #7dbf0c 0%,#66990e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dbf0c', endColorstr='#66990e',GradientType=0 );
}

.slogan {
  font-family: "FuturaBold";
  border-left: 10px solid #66990e;
  padding-left: 20px;
  font-size: 90px;
}

.slogan span {
  display: block;
  line-height: 80px;
}

.slogan span.motto {
  color: #66990e;
  margin: 28px 0;
}

.slogan p.location {
  font-size: 24px;
  /*padding-top: 6px;*/
}

.jumbotron {
  padding-top: 90px;
}

.jumbotron h1.logo {
  font: 0/0;
  color: transparent;
  text-shadow: none;
  margin: 0;
  padding: 0;
  background: url("../images/logo-startup-vale.png") no-repeat center;
  background-size: contain;
}

.jumbotron h1.logo, .slogan {
  height: 355px;
}

.event-photo{
  display: block;
  margin: 0 auto;
  width: 100%;
}

#about-event {
  background: transparent url(../images/mountain.png) no-repeat center bottom;
  background-size: contain;
}

#info-box .container,
#location .container{
  background: #fff;
  border-bottom: 10px solid #66990e;
  color: #666;
}

#location .container {
  padding: 0;
}

#info-box .container .span12,
#location .about-event-infos {
  padding: 20px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#info-box .container h3,
#location .container h3 {
  color: #000;
}

#speaker-area .speakers-confirmed {
  margin: 0 0 20px 0;
}
#speaker-area .speakers-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#speaker-area .speakers-item {
  background: #fff;
  float: left;
  margin: 0 12px 12px 0;
  padding: 20px 20px 10px;
  text-align: center;
}
#speaker-area .speaker-photo,
#speaker-area .speaker-photo .photo {
  display: block;
  height: 170px;
  width: 170px;
}
#speaker-area .speaker-photo {
  margin: 0 auto;
  overflow: hidden;
}

.speakers-name {
  margin: 0;
}
.speakers-bio {
  color: #34495E;
}

#location-map{
  background: #fff;
  border: none;
  height: 540px;
  width: 100%;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#location-map img {
  max-width: initial;
}

#eventicket {
  height: 415px;
  width: 100%;
}

.eventicket-link {
  display: none;
}

.ticket-hot-news {
  color: #ECF0F1;
  text-align: center;
}


#other-events.jumbotron {
  padding-bottom: 90px;
}

#other-events .main-title {
  margin-bottom: 15px;
}

#other-events .event-title {
  color: #f0f0f0;
  font-size: 20px;
  margin-bottom: 8px;
}

#other-events .event-photo{
  height: 160px;
  margin: 0 0 8px 0;
}

#second-content {
  color: #b0b0b0;
  padding-top: 30px;
}

#execution .container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 60px;
}

.events-link {
  background: transparent no-repeat center;
  display: block;
  height: 180px;
  text-indent: -99999px;
}

.events-link.agile-vale {
  background-color: #ea4445;
  background-image: url(../images/logo-agile-vale.png);
}

.events-link.rupy {
  background-color: #000033;
  background-image: url(../images/logo-rupy.png);
}

.events-link img {
  visibility: hidden;
}

#execution .event-owner {
  display: block;
  margin-top: 24px;
  max-width: 200px;
}

.footer-copyright {
  margin: 20px 0;
  text-align: center;
}












@media (min-width: 1200px) {
  .slogan {
    font-size: 100px;
    padding-left: 25px;
  }

  .slogan span {
    line-height: 92px;
  }

  .slogan p.location {
    font-size: 38px;
    padding-top: 12px;
  }

  .jumbotron h1.logo {
    background-image: url("../images/logo-startup-vale.png");
  }

  .jumbotron h1.logo, .slogan {
    height: 420px;
  }

  #about-event .content{
    padding-top: 40px;
  }

}












@media (max-width: 979px) {
  .jumbotron .span4, .jumbotron .span8 {
    width: 100%;
    float: none;
  }

  .slogan {
    font-size: 34px;
    border: none;
    padding: 0;
    text-align: center;
    height: auto;
  }

  .slogan span {
    display: inline;
    line-height: 34px;
  }

  .slogan span.motto {
    display: block;
  }

  .slogan p.location {
    margin-top: 30px;
    font-size: 24px;
  }

  .jumbotron h1.logo {
    height: 220px;
    margin-bottom: 20px;
  }

  #newsletter .row-fluid .span4,
  #other-events .row-fluid .span8 {
    margin: 0;
  }

  #other-events .events-link {
    margin-bottom: 20px;
  }

}












@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .container {
    padding: 20px;
  }

  .slogan {
    font-size: 28px;
  }

  .slogan span {
    line-height: 28px;
  }

  .slogan p.location {
    margin-top: 25px;
    font-size: 22px;
  }

  #other-events .events-link.rupy {
    margin-top: 80px;
  }

  #second-content.jumbotron {
    padding-top: 0;
  }

  #execution .event-owner {
    margin: 0 auto;
  }

}





@media (max-width: 613px){
  #eventicket {
    height: 538px;
  }
}







@media (max-width: 490px) {
  body {
    min-height: 480px;
  }

  .jumbotron {
    padding-top: 45px;
  }

  #first-content .jumbotron:first-child {
    padding-top: 0;
  }

  .jumbotron h1.logo {
    height: 150px;
  }

  .slogan {
    font-size: 36px;
  }

  .slogan span {
    line-height: normal;
  }

  .slogan p.location {
    font-size: 21px;
  }

  #speaker-area .speakers-item {
    display: block;
    float: none;
    margin: 12px 0 0 0;
  }

  #location-map {
    height: 200px;
  }

  #eventicket {
    display: none;
  }

  .eventicket-link {
    display: block;
  }
}
